@font-face {
  font-family: "ABeeZee";
  src: url(./assets/fonts/ABeeZee-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "AbhayaLibre";
  src: url(./assets/fonts/AbhayaLibre-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Nuckle";
  src: url(./assets/fonts/Nuckle-Regular.ttf) format("truetype");
}

:root {
  /* Colors */
  --text-color-dark: #000000;
  --text-color-white: #ffffff;
  --bg-color-white: #f5f5f5;
  --bg-color-white-2: #d9d9d9;
  --bg-color-white-3: #eeeeee;
  --bg-color-gray: #949494;

  /* Fonts */
  --font-size-small: 12px;
  --font-size-medium: 14px;
  --font-size-large: 16px;
  --font-size-h1: 50px;
  --medium-weight: 400;
  --high-weight: 500;
  --low-letter-spacing: 0.6px;

  /* Borders */
  --border-radius-10: 10px;
  --border-radius-15: 15px;
  --border-radius-high: 99px;

  /* Paddings / Margins */
  --space-0-5: 0.5em;
  --space-1: 1em;
  --space-2: 2em;
  --space-2-3: 2.3em;
  --space-3: 3em;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color-white-2);
  border-radius: var(--border-radius-10);
}

::-webkit-scrollbar-thumb {
  background: var(--bg-color-gray);
  border-radius: var(--border-radius-10);
}

input::-webkit-input-placeholder {
  color: var(--text-color-white);
  opacity: 1;
  font-family: "Nuckle";
  font-size: var(--font-size-small);
  font-weight: var(--high-weight);
}

body {
  margin: 0;
  font-family: "AbeeZee";
}

header {
  background-color: var(--bg-color-white-3);
}

header > nav {
  display: flex;
  width: 100%;
  height: 50px;
}

.header-container {
  display: inherit;
  list-style: none;
}

#logo-link {
  width: 4em;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 30px;
  height: 30px;
}

#user-widget {
  flex-grow: 1;
  justify-content: flex-end;
  gap: var(--space-2);
  margin-right: var(--space-1);
  align-items: center;
}

.product-item {
  font-size: var(--font-size-small);
  text-decoration: none;
  color: #141615;
  padding: var(--space-0-5) var(--space-1);
}

.user-widget-item {
  width: 24px;
  height: 17px;
}

.hero {
  background-image: url("./assets/images/hero-car.jpg");
  height: 580px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero-text {
  color: var(--text-color-white);
  padding-top: 80px;
  padding-left: 50px;
}

.hero-text > h1 {
  font-family: "AbhayaLibre";
  font-size: 70px;
  letter-spacing: var(--low-letter-spacing);
  font-weight: var(--medium-weight);
  margin: 0;
}

.hero-text > h3 {
  font-size: var(--font-size-large);
}

.featured-cars {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-3);
  padding: var(--space-2);
  background-color: var(--bg-color-white);
}

.car-card {
  background-color: var(--bg-color-white-2);
  border-radius: var(--border-radius-15);
  padding: var(--space-2-3) var(--space-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.car-card-image {
  object-fit: contain;
  width: 100%;
  height: 280px;
}

.car-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-car-btn {
  font-family: "AbeeZee";
  font-weight: var(--medium-weight);
  font-size: var(--font-size-small);
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  border: 0px;
  border-radius: var(--border-radius-high);
  min-width: 64px;
  max-width: 220px;
  padding: var(--space-1) var(--space-2);
  line-height: 21px;
  background-color: var(--text-color-white);
  text-align: center;
}

.car-color-selector {
  display: inherit;
  gap: var(--space-1);
  list-style: none;
}

.color-selector-item {
  width: 2em;
  height: 2em;
  border: 2px solid #f0f0f0;
  border-radius: var(--border-radius-high);
}

.grey {
  background-color: #c5c5c5;
}

.red {
  background-color: #b20000;
}

.red-2 {
  background-color: #a10000;
}

.red-3 {
  background-color: #ae3f3f;
}

.blue {
  background-color: #0010a1;
}

.blue-2 {
  background-color: #515f91;
}

.yellow {
  background-color: #e2c324;
}

.black {
  background-color: #000000;
}

.search-store-text {
  background-color: var(--bg-color-white);
  padding: var(--space-2);
}

.search-store-text > h1 {
  font-family: "AbhayaLibre";
  font-size: 96px;
  font-weight: var(--medium-weight);
  margin: 0;
}

.search-store-text > p {
  font-weight: var(--medium-weight);
  font-size: 24px;
  line-height: 23px;
}

.store-map {
  background-image: url("./assets/images/world.png");
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.store-map-card {
  background-color: rgba(162, 162, 162, 0.51);
  border: 0px;
  border-radius: var(--border-radius-15);
  max-width: 400px;
  padding: var(--space-2-3) var(--space-2);
  margin-left: 5em;
  display: inherit;
  flex-direction: column;
}

.store-map-card > h1 {
  color: var(--text-color-white);
  font-size: var(--font-size-h1);
  font-weight: var(--medium-weight);
  line-height: var(--font-size-h1);
  margin: 0;
}

.products-info {
  background-color: var(--bg-color-white);
  padding: var(--space-1) var(--space-2) var(--space-2);
}

.products-cards-container {
  display: flex;
  gap: var(--space-3);
  padding-bottom: var(--space-2);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.products-info img {
  width: 490px;
}

.design-award-desktop {
  height: 800px;
  background-image: url(./assets/images/mercedes-maybach-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.design-award-text {
  position: absolute;
  bottom: 3em;
  left: 180px;
}

.design-award-text > h1 {
  font-weight: var(--medium-weight);
  font-size: var(--font-size-h1);
  line-height: 30px;
}

.design-award-mobile {
  height: 400px;
  display: flex;
  flex-direction: column;
}

.mercedes-program-desktop {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: var(--space-3);
  gap: 80px;
}

.mercedes-program-text > h1 {
  font-weight: var(--medium-weight);
  font-size: var(--font-size-h1);
  line-height: var(--font-size-h1);
}

.mercedes-program-text > p {
  margin: 5em 0 var(--space-2);
}

.mercedes-program-image {
  height: 635px;
  width: 635px;
}

.mercedes-program-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mercedes-program-mobile > h1 {
  font-weight: var(--medium-weight);
  font-size: 32px;
  line-height: 41px;
}

.mercedes-program-mobile > p {
  font-size: var(--font-size-medium);
  text-align: left;
  margin: var(--space-1) var(--space-2);
}

.learn-more-btn {
  font-family: "Nuckle";
  text-decoration: none;
  border: 0px;
  min-width: 64px;
  background-color: var(--text-color-white);
  color: var(--text-color-dark);
  font-size: 15px;
  font-weight: var(--high-weight);
}

.footer-wrapper {
  display: flex;
  padding: var(--space-1) var(--space-2);
  justify-content: space-around;
  align-items: center;
  background-image: url("./assets/images/footer-wrapper-bg.png");
}

.footer-wrapper > p {
  font-weight: var(--medium-weight);
  font-size: var(--font-size-large);
  line-height: 21px;
  color: var(--text-color-white);
}

.footer-container {
  position: relative;
  padding-bottom: 3em;
  background-color: var(--text-color-dark);
  color: var(--text-color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container h5 {
  font-family: "Nuckle";
  font-weight: var(--medium-weight);
  font-size: 20px;
  line-height: 30px;
}

.footer-newsletter {
  display: inherit;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  display: inherit;
  justify-content: space-evenly;
  width: 100%;
}

.links-list-container {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link-item {
  text-decoration: none;
}

.footer-regular-text {
  color: rgba(255, 255, 255, 0.6);
  font-family: Nuckle;
  font-weight: var(--high-weight);
  font-size: var(--font-size-medium);
  line-height: 21px;
}

.email-container {
  margin: var(--space-1);
  position: relative;
}

.email-container > input {
  width: 80%;
  padding-left: 3em;
  opacity: 1;
  border-radius: 34px;
  background-color: var(--text-color-dark);
  border: 1px solid var(--text-color-white);
  color: var(--text-color-white);
  height: 50px;
}

.email-container > button {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 54px;
  font-family: "Nuckle";
  font-weight: var(--high-weight);
  font-size: var(--font-size-medium);
  line-height: 21px;
}

.sign-up-container {
  position: relative;
  margin-top: var(--space-2);
  display: flex;
  align-items: center;
  gap: var(--space-1);
  padding: 0 var(--space-2);
  font-family: "Nuckle";
  font-weight: var(--high-weight);
  font-size: var(--font-size-medium);
  line-height: 21px;
}

.sign-up-check {
  cursor: pointer;
  background-color: var(--text-color-dark);
  height: 25px;
  width: 25px;
  appearance: none;
  border: 1px solid var(--text-color-white);
  border-radius: 4px;
}

.sign-up-check:checked {
  color: var(--text-color-dark);
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.social-media-container > ul {
  display: flex;
  gap: 1em;
  margin: 2em;
}

.p-text-14 {
  font-weight: var(--medium-weight);
  font-size: var(--font-size-medium);
  line-height: 21px;
  color: var(--text-color-white);
}

.nuckle {
  font-family: "Nuckle";
}

.color-dark {
  color: var(--text-color-dark);
}

.init-btn {
  padding: 12.5px 14.5px;
  border-radius: var(--border-radius-high);
  border-width: 1px;
  background-color: var(--text-color-white);
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.selected {
  border: 1px solid var(--text-color-dark);
  border-radius: var(--border-radius-high);
}

.margin-top {
  margin-top: var(--space-2);
}

@media screen and (max-width: 640px) {
  #products {
    display: none;
  }

  .hero {
    height: 200px;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 0;
  }

  .hero-text > h1 {
    font-family: "AbhayaLibre";
    font-size: 24px;
    margin-left: 16px;
    letter-spacing: var(--low-letter-spacing);
  }

  .hero-text > h3 {
    font-size: var(--font-size-medium);
    font-weight: var(--medium-weight);
    line-height: var(--font-size-medium);
    margin: 0 16px 16px;
    letter-spacing: var(--low-letter-spacing);
  }

  .featured-cars {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: var(--space-0-5);
    padding: var(--space-0-5);
  }

  .car-card-image {
    height: 180px;
  }

  .car-card-footer {
    justify-content: center;
  }

  .car-color-selector {
    display: none;
  }

  .search-store-text > h1 {
    font-size: 40px;
    text-align: center;
  }

  .search-store-text > p {
    text-align: center;
  }

  .store-map {
    align-items: flex-start;
    height: auto;
  }

  .store-map-card {
    margin: var(--space-2) var(--space-1);
    display: flex;
    flex-direction: column;
  }

  .store-map-card > h1 {
    text-align: center;
    font-size: 36px;
  }

  .products-info img {
    width: 260px;
  }

  .mercedes-program {
    margin: var(--space-1);
  }

  .mercedes-program-image {
    width: 90%;
    height: 100%;
    border-radius: var(--border-radius-15);
  }

  .design-award-text {
    position: initial;
    color: var(--text-color-dark);
    background-color: var(--bg-color-white-3);
    text-align: center;
  }

  .design-award-text > h1 {
    font-size: 20px;
  }

  .design-award-text > p {
    text-align: justify;
    margin: var(--space-1) var(--space-2) var(--space-2) var(--space-2);
  }

  .mercedes-program-desktop {
    display: none;
  }

  .learn-more-btn {
    margin: var(--space-2);
  }

  .footer-wrapper {
    flex-direction: column;
    padding: var(--space-2) var(--space-1);
  }

  .footer-wrapper > p {
    text-align: center;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .footer-link-section {
    text-align: center;
  }

  .design-award-desktop {
    display: none;
  }

  .design-award-mobile > img {
    object-fit: cover;
    height: 200px;
    object-position: center;
    width: 100%;
    align-self: end;
  }
}

@media screen and (min-width: 640px) {
  #dropdown-item {
    display: none;
  }

  .search-store-text > p {
    max-width: 509px;
  }

  .design-award-mobile {
    display: none;
  }

  .mercedes-program-mobile {
    display: none;
  }
}
